// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.editing{
	background-color: #5cb85c;
	color: #fff;
}

.destroy{
	background-color: #d9534f;
	color: #fff;
}

.edit-action{
	margin-bottom: 10px;
}

.edit-book{
	background-color: #337ab7;
	color: #fff;

}

