// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.log-in{
	background-color: #5bc0de;
	color: #666;
}

.sign-up{
	background-color: #5cb85c;
	color: #666;
}

